:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-300: rgb(163, 170, 180);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --darkblue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  background-color: #F6F5F6;
}

section {
  display: grid;
  gap: 32px;
  padding: 72px 35px;
  margin-inline: auto;
}

article {
  padding: 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article:nth-child(1) {
  background-color: var(--purple-500);
  position: relative;
}

article:nth-child(1) h2 {
  position: relative;
  z-index: 2;
}

article:nth-child(2) {
  background-color: var(--grey-500);
}

article:nth-child(3) {
  background-color: var(--white);
}

article:nth-child(4) {
  background-color: var(--darkblue);
}

article:nth-child(5) {
  background-color: var(--white);
}

img {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid #A775F1;
  border-radius: 50%;
}

article:nth-child(1) img {
  margin-block: -1px;
  margin-left: -2px;
}

article:nth-child(2) img {
  border: none;
}

article:nth-child(3) img {
  border: none;
}

article:nth-child(4) img {
  border-color: var(--purple-500);
  margin-left: -2px;
}

article:nth-child(5) img {
  border: none;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
}

header p {
  font-size: .8125rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
}

header span {
  font-size: .6875rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
}

article:nth-child(1) span,
article:nth-child(1) blockquote p {
  color: var(--purple-50);
}

article:nth-child(2) span {
  color: var(--grey-300);
}

article:nth-child(2) blockquote p {
  color: var(--grey-100);
}

article:nth-child(3) {
  color: var(--grey-500);
}

article:nth-child(3) span,
article:nth-child(3) blockquote p {
  color: var(--grey-400);
}

article:nth-child(4) h2 {
  color: var(--grey-200);
}

article:nth-child(4) blockquote p {
  color: var(--grey-100);
}

article:nth-child(5) {
  color: var(--grey-500);
}

article:nth-child(5) span {
  color: var(--grey-300);
}

article:nth-child(5) blockquote p {
  color: var(--grey-400);
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0px;
}

blockquote p {
  font-size: .8125rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0px;
}

@media (min-width: 37.5rem) {
  section {
    grid-template-columns: 1fr 1fr;
    max-width: 43.75rem;
  }

  article {
    grid-column: 2;
    grid-column-start: span 2;
    grid-column-end: auto;
  }

  article:nth-child(1)::before {
    content: url("./images/bg-pattern-quotation.svg");
    position: absolute;
    top: 0;
    left: 23.5625rem;
    z-index: 1;
  }

  article:nth-child(2),
  article:nth-child(3) {
    grid-column: 1;
    grid-column-start: span 1;
    grid-column-end: auto;
  }
}

@media (min-width: 68.75rem) {
  section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 75rem;
  }

  article:nth-child(3) {
    grid-row-start: row2-start;
  }

  article:nth-child(5) {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
  }
}