:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --darkblue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  background-color: #F6F5F6;
}

section {
  display: grid;
  gap: 32px;
  padding: 72px 35px;
}

article {
  padding: 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

article:nth-child(1) {
  background-color: var(--purple-500);
}

article:nth-child(2) {
  background-color: var(--grey-500);
}

article:nth-child(3) {
  background-color: var(--white);
}

article:nth-child(4) {
  background-color: var(--darkblue);
}

article:nth-child(5) {
  background-color: var(--white);
}

img {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid #A775F1;
  border-radius: 50%;
}

article:nth-child(1) img {
  margin-left: -2px;
}

article:nth-child(2) img {
  border: none;
}

article:nth-child(3) img {
  border: none;
}

article:nth-child(4) img {
  border-color: var(--purple-500);
}

article:nth-child(5) img {
  border: none;
}